<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>index</title>
		<meta name="description" content="" />
		<meta name="author" content="엄 두성" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>

		<!-- pure css -->
		<!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/base-min.css"> -->

		<!-- bootstrap -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#joinBtn").bind("click", function(e) {
					var url = "/user/join", joinInfo = $('#joinForm').serialize();
					e.preventDefault();
					$.post(url, joinInfo, function(result) {
						alert(result.errorMessage);
						if (result.status) {
							location.reload();
						}
					});
				});
				
				
				$("#loginBtn").bind("click", function(e) {
					var url = "/login",
					type = $('#type').val(),
					loginInfo = $('#loginForm').serialize();
					e.preventDefault();
					$.post(url, loginInfo, function(result) {
						if (result.status) {
							location.reload();
						} else {
							alert(result.errorMessage);
						}
					});
				});
			});
		</script>
	</head>

	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<? if(session.passport.user) { ?>
						hi
					<? } ?>
					<? if(!session.userInfo) { ?>
					<a id="modal-431194" href="#modal-container-431194" role="button" class="btn" data-toggle="modal">Join</a>
					<a id="modal-128582" href="#modal-container-128582" role="button" class="btn" data-toggle="modal">Login</a>
					<a href="/auth/google" role="button" class="btn">google login</a>
					<? } ?>
					<? if(session.userInfo) { ?>
					<a href="/user/logout" class="btn">Logout</a>
					<? } ?>
					
					<!-- 회원가입 모달 -->
					<div class="modal fade" id="modal-container-431194" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										×
									</button>
									<h4 class="modal-title" id="myModalLabel"> Join </h4>
								</div>
								<div class="modal-body" >
									<form id="joinForm">
										<label class="label-success">email</label>
										<input type="email" name="id"/>
										<br />
										<label class="label-success">password</label>
										<input type="password" name="password"/>
										<br />
										<label class="label-success">name</label>
										<input type="text" name="name" />
										<br />
										
										<input type="hidden" name="access_token" value="null"/>
										<input type="button" id="joinBtn" class="btn btn-primary" value="sign up" />
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Close
									</button>
									<!-- <button type="button" class="btn btn-primary">
										Save changes
									</button> -->
								</div>
							</div>
						</div>
					</div>
					
					<!-- 로그인 모달 -->
					<div class="modal fade" id="modal-container-128582" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										×
									</button>
									<h4 class="modal-title" id="myModalLabel"> Login </h4>
								</div>
								<div class="modal-body">
									<form id="loginForm" action="#">
										<label class="label-success">email</label>
										<input type="email" name="userId" />
										<br />
										
										<label class="label-success">password</label>
										<input type="password" name="password" />
										<br />
										<input type="hidden" id="type" value="pc" />
										<input type="button" id="loginBtn" value="로그인" />
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">
										Close
									</button>
									<!-- <button type="button" class="btn btn-primary">
										Save changes
									</button> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
