<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>index</title>
		<meta name="description" content="" />
		<meta name="author" content="엄 두성" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

		<script src="/socket.io/socket.io.js"></script>
		<script src="/lib/jquery/jquery-1.11.0.js"></script>
		<script src="/lib/qrcode/qrcode.js"></script>
		<script src="/javascript/controller.js"></script>
		<!-- 모바일용 스크립트 -->
		<script>
			
		</script>
	</head>

	<body>
		<div>
			<input type="hidden" id="room" value="<?= userId ?>" />
			<input type="button" id="slideLeft" value="left"/>
			<input type="button" id="slideRight" value="right"/>
		</div>
	</body>
</html>
